<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://i.ytimg.com/vi/SSCLPoNofNQ/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBY93-ro4WH-NkLyMCBhEeJGn9onA"
      alt=""
      height="200px"
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci nemo
      totam facere fuga distinctio maiores necessitatibus eaque, cum assumenda
      velit delectus! A, voluptates? Tempore beatae id neque perferendis aperiam
      impedit?
      </a>
    </p>
  </div>
</div>
