<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://i.ytimg.com/vi/SSCLPoNofNQ/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLBY93-ro4WH-NkLyMCBhEeJGn9onA"
      cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit."
      cardDescription="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci nemo totam facere fuga distinctio maiores necessitatibus eaque, cum assumenda velit delectus! A, voluptates? Tempore beatae id neque perferendis aperiam impedit"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card photoCover="https://i.ytimg.com/vi/IRmMYiQi1b0/sddefault.jpg"
    cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit."></app-small-card>
    <app-small-card photoCover="https://lh5.googleusercontent.com/rsShK9L_i9BZqu_4yP0rc8TRRFeKsQhPT9vJxs47HcvCO1ca8TIW3FSWcAySaeYsKnhcWQ4WKI-07RhgiuzqO4UwOwzAX4ojiShgMSmVAHaBSrVJNlBQUMqhl4HpoAOd5MILCNuYmIjlmRglpo5q2Jk"
    cardTitle="Lorem ipsum dolor sit amet."></app-small-card>
    <app-small-card photoCover="https://i.redd.it/4alvivduty881.jpg"
    cardTitle="Lorem ipsum dolor sit amet consectetur amet consectetur adipisicing elit."></app-small-card>
  </div>
</div>
